@import '../../vendor/filament/filament/resources/css/theme.css';
@source '../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';

@config 'tailwind.config.js';

[x-cloak] {
    display: none !important;
}
.grid-image .filepond--item {
    width: calc(33.3% - 0.5em);
}
